<nav class="bg-gray-400 text-black py-2 flex flex-col md:flex-row md:justify-center md:items-center md:gap-6 gap-2">
  <a
    routerLink="/employees"
    routerLinkActive="font-bold underline"
    class="hover:underline"
  >
    Employees
  </a>
  <a
    routerLink="/tasks"
    routerLinkActive="font-bold underline"
    class="hover:underline"
  >
    Tasks
  </a>
  <a
    routerLink="/assigned-tasks"
    routerLinkActive="font-bold underline"
    class="hover:underline"
  >
    Assigned Tasks
  </a>
</nav>
